@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<a asp-controller="Resumes" asp-action="Index">Просмотр резюме</a>
<a asp-controller="EmployerRequests" asp-action="Index" asp-route-id="1">Мои вакансии</a>