@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button><a href="ApplicantHome">Я соискатель</a></button>
    <button><a href="EmployerHome">Я работодатель</a></button>
</div>
