@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button><a href="Resumes/Create">Создать резюме</a></button>
    <button><a href="IndexForEmployer">Просмотр резюме</a></button>
    <button><a href="IndexForApplicant">Просмотр вакансий</a></button>
</div>
