@model IEnumerable<CourseWork2.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Профиль</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Просмотр профиля соискателя
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h2>Имя</h2>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <h2>Информация</h2>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    <h2>E-mail</h2>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                @*<td>
                    <h2>Номер телефона</h2>
                    @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                </td>*@
            </tr>
        }
    </tbody>
</table>
